*.page
/AnswersHome.page-meta.xml
/BandwidthExceeded.page-meta.xml
/ChangePassword.page-meta.xml
/Exception.page-meta.xml
/FileNotFound.page-meta.xml
/ForgotPassword.page-meta.xml
/ForgotPasswordConfirm.page-meta.xml
/IdeasHome.page-meta.xml
/InMaintenance.page-meta.xml
/MyProfilePage.page-meta.xml
/SiteLogin.page-meta.xml
/SiteRegister.page-meta.xml
/SiteRegisterConfirm.page-meta.xml
/SiteTemplate.page-meta.xml
/StdExceptionTemplate.page-meta.xml
/Unauthorized.page-meta.xml
/UnderConstruction.page-meta.xml
